# Manuel geliştirme (npm run dev):
MONGO_URI=mongodb://localhost:27017/diyet
# Docker Compose ile:
# MONGO_URI=mongodb://mongo:27017/diyet
JWT_SECRET=change_this_to_a_long_random_secret_in_production
PORT=5000
NODE_ENV=development
UPLOAD_DIR=uploads
TELEGRAM_BOT_TOKEN=8619417906:AAGYmwxTPSOt0j9fyLgGdkFXi5dm2bVXuIc
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
